/*
    Стили для странички с пользовательскими ссылками
*/

.link-page {
    display: flex;
    width: 430px;
    height: 600px;
    flex-direction: column;
    align-items: center;
}

.link-page h1 {
    margin-bottom: 15px
}

.link-page form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.link-page form label {
    margin: 15px 0
}

.link-page form ul {
    margin-bottom: 15px
}

.link-page form > input {
    padding: 15px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 7px;
}

.link-page form button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    align-self: flex-start;
    font-weight: bold;
}

.links-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: inherit;
    margin-top: 15px;
}

.links-block span {
    text-align: center;
}

.user_links {
    align-self: flex-start;
    margin-top: 15px;
    width: inherit;
}

.user_links .copy-button {
    border-radius: 5px;
    padding: 7px;
    border: 1px solid silver;
    background-color: #a54b31;
    font-size: 14px;
    color: white;
    font-weight: bold;
    /*transition: all 300ms ease;*/
}

.user_links .copy-button:hover {
    -o-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.user_links table {
    width: inherit;
}

.user_links table .td-link {
    text-align: start;
}

.user_links table .td-clicks {
    text-align: center;
}

.user_links table .td-button {
    text-align: end;
}



