{% extends 'linkCutter/index.html' %}
    {% block main_section %}
    <main>
        <div class="link-page">
            <h1>Создание ссылок</h1>
<!--            <div class="add-link">-->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="button">Создать ссылку</button>
                 </form>
<!--            </div>-->
            <div class="links-block">
                <h1>Доступные ссылки</h1>
                <div class="user_links">
                    {% for link in links %}
                        <p>Ссылка - <a href="{{ link.get_absolute_url }}" target="_blank">{{ link.get_absolute_url }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% endblock %}