{% extends 'linkCutter/index.html' %}
{% block main_section %}
    <main>
        <div class="link-page">
            <h1>Создание ссылок</h1>
            <!--            <div class="add-link">-->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="button">Создать ссылку</button>
            </form>
            <!--            </div>-->
            <div class="links-block">
                <h1>Доступные ссылки</h1>
                <span>Перейдите по ссылке или скопируйте в буфер обмена нажав на кнопку copy</span>
                <div class="user_links">
                    <table>
                        <tr>
                            <th>Ссылка</th>
                            <th>Переходов</th>
                            <th>Копировать</th>
                        </tr>
                        {% for link in links %}
                            <tr>
                                <td>
                                    <a href="{{ link.get_absolute_url }}" domain="{{ request.META.HTTP_HOST }}"
                                       target="_blank">{{ link.source_link }}
                                    </a>
                                </td>
                                <td>
                                    {{ link.clicks }}
                                </td>
                                <td>
                                    <button class="copy-button" onclick="copyToClipboard(this)">Copy</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <script>
            function copyToClipboard(element) {
                let node = element.parentNode.parentNode
                let elem = node.querySelector('a')
                let url = 'http://' + elem.getAttribute('domain') + elem.getAttribute('href')

                console.log(url)
                navigator.clipboard.writeText(url)
            }
        </script>
    </main>
{% endblock %}